.container{
  display: flex;
  justify-content: space-around;
  height: 48vh;
}
section{
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
button{
  border-radius: 50%;
  padding: .75em;
  align-items: center;
}
